@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto-Bold.eot');
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
body {
  margin: 0;
  box-sizing: border-box;
}
body * {
  font-family: 'Roboto-Regular';
}
#first-screen,
footer {
  align-items: center;
  display: flex;
  flex-direction: column;
}
#first-screen {
  height: 100vh;
}
#user-pic {
  border-radius: 50%;
  background: #202545;
  width: 65px;
  margin: 60px 0 35px;
  height: 65px;
  position: relative;
}
#user-pic i {
  position: absolute;
  color: red;
  top: 50%;
  right: -8px;
  transform: translateY(-50%);
}
.block-img-seventeen {
  height: 60%;
  max-height: 240px;
  margin-bottom: 30px;
}
.block-img-seventeen img {
  height: 100%;
}
.block-with-text {
  line-height: 30px;
  font-size: 20px;
  margin: 2.5px 0;
  background-color: #202545;
  padding: 0 10px;
  color: #ffffff;
  text-transform: uppercase;
}
#block-to-scroll {
  margin-top: 30px;
}
#block-to-scroll span {
  color: #202545;
}
#block-to-scroll a {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #202545;
  margin: 10px auto 0;
  position: relative;
}
#block-to-scroll a:before {
  content: '';
  display: block;
  border-left: 2px solid #202545;
  border-bottom: 2px solid #202545;
  height: 10px;
  width: 10px;
  top: 50%;
  left: 50%;
  transform: rotate(-45deg) translateY(-10px) translateX(1px);
  position: absolute;
}
#second-section {
  max-width: 960px;
  margin: 0 auto;
}
#second-section img {
  max-width: 100%;
}
#second-section *:not(.date) {
  color: #202545;
}
#second-section h2 {
  font-family: 'Roboto-Bold';
  font-size: 45px;
  margin-top: 0;
  padding-top: 25px;
  line-height: 1;
  margin-bottom: 30px;
}
#second-section p {
  line-height: 25px;
}
#second-section p + div {
  position: relative;
  padding-bottom: 60%;
}
#second-section p + div picture {
  height: 100%;
  position: absolute;
  top: 0;
}
#second-section p + div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.article-details {
  max-width: 710px;
  width: 80%;
  margin: 0 auto;
  border-left: 2px solid #eee;
  padding-left: 45px;
  padding-bottom: 60px;
  position: relative;
}
.article-details .date {
  color: red;
  font-family: 'Roboto-Bold';
  position: absolute;
  left: -20px;
  top: 35px;
  text-align: center;
  line-height: 18px;
  background-color: #ffffff;
  width: 40px;
}
.article img {
  border-radius: 5px;
}
footer {
  background: #202545;
}
footer * {
  color: #ffffff;
}
footer p {
  background-color: #ffffff;
  color: #202545;
  font-size: 20px;
  font-family: 'Roboto-Bold';
  line-height: 1.7;
  margin: 40px;
  padding: 0 8px;
  text-transform: uppercase;
}
footer .social-net {
  display: flex;
  flex-direction: row;
}
footer .icon-wrap {
  height: 35px;
  width: 35px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 0 10px;
  position: relative;
}
footer .icon-wrap i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
footer span {
  display: block;
  font-size: 12px;
  margin-top: 90px;
  margin-bottom: 40px;
}
